* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8f9;
}

/*  HEADER */
.page-header {
  padding: 20px 12px;
}

.page-header * {
  vertical-align: middle;
}


/* main */
.container {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  border: 5px none transparent;
}

.bg-white {
  background-color: white;
}

.page-content {
  padding: 20px;
}

.button-container {
  border-bottom: 10px none transparent;
}

ul {
  list-style: none;
}