* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8f9;
}

/*  HEADER */
.page-header {
  padding: 20px 12px;
}

.page-header * {
  vertical-align: middle;
}


/* main */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 50px;
  border-radius: 5px;
  border: 5px none transparent;
}

.bg-white {
  background-color: white;
}

.page-content {
  padding: 20px;
}

.button-container {
  border-bottom: 10px none transparent;
}

ul {
  list-style: none;
}


li {
  /* list item placeholder */
}

.title-list {
  font-size: 23px;
}

/* list mark external list */
.external-mark {
  font-size: 10px;
  margin: 5px;
  vertical-align: text-top;
}

/* list mark internal list */
.list-dot {
  width: 20px;
  height: 20px;
  font-size: 13px;
  text-align: center;
  display: inline-block;
  border: 2px solid;
  border-radius: 50%;
}

.dot-green {
  color: #80dccc;
  border-color: #80dccc;
}

.dot-red {
  color: #ff1515;
  border-color: #ff1515;
}