* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f6f8f9;
}

/*  HEADER */
.page-header {
  height: 65px;
  padding: 5px 12px;
}

.page-header * {
  vertical-align: middle;
}


/* main */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 50px;
  /* border-radius: 5px;
  border: 5px none transparent; */
}

.border-top {
  border: 5px none transparent;
  border-radius: 0 5px;
}

.border-bottom {
  border: 5px none transparent;
  border-radius: 5px 0;
}

.bg-white {
  background-color: white;
}

.page-content {
  padding: 20px;
}

.button-container {
  border-bottom: 10px none transparent;
  margin-bottom: 3px;
}

.button-container button {
  background-color: white;
  border: 2px solid #c7ced2;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 1.5px;
}

button.button-focus {
  background-color: #14aaf5;
  border-color: #14aaf5;
}

ul {
  list-style: none;
}


li {
  padding: 8px 0;
}

.title-list {
  font-size: 23px;
}

/* list mark external list */
.external-mark {
  font-size: 10px;
  margin: 5px;
  vertical-align: text-top;
}

/* list mark internal list */
.list-dot {
  width: 20px;
  /* height: 20px; */
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  border: 2px solid;
  border-radius: 50%;
  margin-right: 5px;
}

.dot-green {
  color: #80dccc;
}

.dot-red {
  color: #ff1515;
}

/* list badge */
.badge {
  display: inline-block;
  padding: 7px;
  font-size: 10px;
  line-height: 6px;
  color: white;
  border: 3px solid transparent;
  border-radius: 13px;
}

.badge-blue {
  background-color: #09a9ed;
}

.badge-purple {
  background-color: #ab5de6;
}

.badge-aquamarine {
  background-color: #2cc6ab;
}

.badge-orange {
  background-color: #ff9b00;
}

.badge-magenta {
  background-color: #ec4a9d;
}

.badge-green {
  background-color: #a3d116;
}